/* src/components/loading.css */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ou o tamanho que você preferir */
    background-color: #f0f0f0; /* Cor de fundo */
}

.spinner {
    border: 8px solid #f3f3f3; /* Cor do fundo */
    border-top: 8px solid #ff0000; /* Cor da borda superior */
    border-radius: 50%;
    width: 50px; /* Tamanho do spinner */
    height: 50px; /* Tamanho do spinner */
    animation: spin 2s linear infinite; /* Animação do spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.logo{
    margin: 5px;
}